.gitignore
.vscode
.vscode-test/**
.vscode/**
*.js.map
**/*.map
**/*.ts
**/tsconfig.json
**/tslint.json
latest
node_modules
out/test/**
package-lock.json
src
src/**
update_vsx.sh
vsc-extension-quickstart.md
